<div class="container">
	<ul class="errors" ng-show="errors.length > 0">
		<li ng-repeat="(index, error) in errors track by index" class="alert  alert-danger">
			<button type="button" class="close" ng-click="removeError(index)">&times;</button>
			{{ error }}
		</li>
	</ul>
	<form
		name="addInstanceForm"
	  ng-submit="addNewInstance()"
	>
		<input type="url" ng-model="addInstanceUrl" required />
		<input
			type="submit"
			ng-disabled="addInstanceForm.$invalid"
		  placeholder="Type URL here"
		/>
	</form>
	<table>
		<thead>
			<tr>
				<th></th>
				<th ng-repeat="instance in instances">{{ instance.title }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(field, values) in fields" ng-class="{'odd': $odd, 'even': $even}">
				<td>{{ field }}</td>
				<td ng-repeat="instanceValue in values">{{ instanceValue }}</td>
			</tr>
		</tbody>
	</table>
</div>

