<div class="container">
	<form
		name="addInstanceForm"
	  ng-submit="addNewInstance()"
	>
		<input type="url" ng-model="addInstanceUrl" required />
		<input
			type="submit"
			ng-disabled="addInstanceForm.$invalid"
		/>
	</form>
	<table>
		<thead>
			<tr>
				<th></th>
				<th ng-repeat="instance in instances">{{ instance.title }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(field, values) in fields" ng-class="{'odd': $odd, 'even': $even}">
				<td>{{ field }}</td>
				<td ng-repeat="instanceValue in values">{{ instanceValue }}</td>
			</tr>
		</tbody>
	</table>
</div>

