@import 'bootstrap/bootstrap.less';
[ng-view] {
	margin-top: 60px;
}

.errors {
  list-style: none;
  position: absolute;
  width: 400px;
  right: 10px;
  top: 60px;
}

.loading {

}

.container .form-control-feedback {
  top: 0px;
}
